<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBjg-s8FZvJxZf1tpHLUnqDKnHz5JEvflU</string>
	<key>GCM_SENDER_ID</key>
	<string>44885582295</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.garMobileDashboard</string>
	<key>PROJECT_ID</key>
	<string>gardenia-48cdf</string>
	<key>STORAGE_BUCKET</key>
	<string>gardenia-48cdf.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:44885582295:ios:8e949ec6ca014ab3fcab92</string>
	<key>DATABASE_URL</key>
	<string>https://gardenia-48cdf-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>